In [2]:
import pandas as pd
from pandas_datareader import data

In [3]:
companies = ['AMZN','CVX','DB','FB','CAT']
p = data.DataReader(name = companies, data_source  = 'yahoo', start = '2016-01-01', end = '2017-12-30')
type(p)

pandas.core.panel.Panel

In [4]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 504 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2017-12-29 00:00:00 to 2015-12-31 00:00:00
Minor_axis axis: AMZN to FB

In [5]:
p.items

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [6]:
p.major_axis

DatetimeIndex(['2017-12-29', '2017-12-28', '2017-12-27', '2017-12-26',
               '2017-12-22', '2017-12-21', '2017-12-20', '2017-12-19',
               '2017-12-18', '2017-12-15',
               ...
               '2016-01-14', '2016-01-13', '2016-01-12', '2016-01-11',
               '2016-01-08', '2016-01-07', '2016-01-06', '2016-01-05',
               '2016-01-04', '2015-12-31'],
              dtype='datetime64[ns]', name='Date', length=504, freq=None)

In [7]:
p.major_xs

<bound method Panel.major_xs of <class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 504 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2017-12-29 00:00:00 to 2015-12-31 00:00:00
Minor_axis axis: AMZN to FB>

In [8]:
p.ndim

3

In [9]:
p.dtypes

Adj Close    float64
Close        float64
High         float64
Low          float64
Open         float64
Volume       float64
dtype: object

In [10]:
p.shape

(6, 504, 5)

In [11]:
p.size  # to get .size result multiply .shape values by each

15120

### Pulling out data from specific columns  .loc[ ]   .iloc[ ],   .ix[ ]

In [12]:
p.Open.head()

                   AMZN         CAT         CVX         DB          FB
Date
2017-12-29  1182.349976  158.050003  125.360001  19.070000  178.000000
2017-12-28  1189.000000  157.940002  125.690002  19.139999  177.949997
2017-12-27  1179.910034  156.940002  125.959999  19.260000  176.550003
2017-12-26  1168.359985  156.039993  125.230003  19.370001  176.630005
2017-12-22  1172.079956  154.770004  124.849998  19.450001  177.139999

In [13]:
p.loc['Close','2016-11-15','DB']

Date
2016-11-15    16.549999
Name: DB, dtype: float64

In [14]:
p.items

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [15]:
p.iloc[4,34]   # [ column, row ]

AMZN    1125.959961
CAT      136.440002
CVX      115.900002
DB        17.280001
FB       178.309998
Name: 2017-11-09 00:00:00, dtype: float64

In [22]:
p.ix['High',11]

AMZN    1170.869995
CAT      149.050003
CVX      120.169998
DB        19.480000
FB       179.160004
Name: 2017-12-13 00:00:00, dtype: float64

### Convert to a Multiindex DataFrame

In [23]:
p.to_frame()

                    Adj Close        Close         High          Low  \
Date       minor
2017-12-29 AMZN   1169.469971  1169.469971  1184.000000  1167.500000
           CAT     156.851974   157.580002   158.500000   157.509995
           CVX     123.956055   125.190002   125.980003   125.190002
           DB       19.030001    19.030001    19.100000    18.990000
           FB      176.460007   176.460007   178.850006   176.460007
2017-12-28 AMZN   1186.099976  1186.099976  1190.099976  1184.380005
           CAT     157.688095   158.419998   158.649994   157.229996
           CVX     124.342209   125.580002   125.889999   125.290001
           DB       19.100000    19.100000    19.170000    19.010000
           FB      177.919998   177.919998   178.940002   177.679993
2017-12-27 AMZN   1182.260010  1182.260010  1187.290039  1175.609985
           CAT     156.792267   157.520004   157.690002   156.309998
           CVX     124.312508   125.550003   126.199997   125.129997
           DB       19.059999    19.059999    19.260000    19.030001
           FB      177.619995   177.619995   178.440002   176.259995
2017-12-26 AMZN   1176.760010  1176.760010  1178.319946  1160.550049
           CAT     155.717255   156.440002   156.979996   155.660004
           CVX     124.738274   125.980003   126.139999   125.050003
           DB       19.230000    19.230000    19.400000    19.180000
           FB      175.990005   175.990005   177.000000   174.669998
2017-12-22 AMZN   1168.359985  1168.359985  1174.619995  1167.829956
           CAT     155.030426   155.750000   155.800003   153.949997
           CVX     123.748131   124.980003   125.650002   124.570000
           DB       19.379999    19.379999    19.459999    19.270000
           FB      177.199997   177.199997   177.529999   176.229996
2017-12-21 AMZN   1174.760010  1174.760010  1179.170044  1167.640015
           CAT     153.925568   154.639999   155.100006   151.809998
           CVX     123.589699   124.820000   125.349998   121.070000
           DB       19.700001    19.700001    19.760000    19.520000
           FB      177.449997   177.449997   178.679993   177.050003
...                       ...          ...          ...          ...
2016-01-08 AMZN    607.049988   607.049988   624.140015   606.000000
           CAT      58.727039    63.290001    64.529999    62.930000
           CVX      74.878967    82.129997    83.839996    81.220001
           DB       21.875216    22.100000    22.860001    22.080000
           FB       97.330002    97.330002   100.500000    97.029999
2016-01-07 AMZN    607.940002   607.940002   630.000000   605.210022
           CAT      59.330181    63.939999    65.519997    63.660000
           CVX      75.690392    83.019997    85.750000    82.669998
           DB       22.488907    22.719999    23.100000    22.670000
           FB       97.919998    97.919998   101.430000    97.300003
2016-01-06 AMZN    632.650024   632.650024   639.789978   620.309998
           CAT      61.445805    66.220001    66.849998    65.620003
           CVX      78.471123    86.070000    87.779999    85.160004
           DB       22.904636    23.139999    23.280001    23.030001
           FB      102.970001   102.970001   103.769997   100.900002
2016-01-05 AMZN    633.789978   633.789978   646.909973   627.650024
           CAT      62.429379    67.279999    68.440002    66.419998
           CVX      81.698586    89.610001    89.650002    87.839996
           DB       23.241177    23.480000    23.620001    23.240000
           FB      102.730003   102.730003   103.709999   101.669998
2016-01-04 AMZN    636.989990   636.989990   657.719971   627.510010
           CAT      63.088196    67.989998    68.080002    65.720001
           CVX      81.005676    88.849998    90.110001    87.570000
           DB       23.251076    23.490000    23.490000    23.020000
           FB      102.220001   102.220001   102.239998    99.750000
2015-12-31 AMZN    675.890015   675.890015   687.750000   675.890015
           CAT      63.060352    67.959999    69.099998    67.940002
           CVX      82.017693    89.959999    90.860001    89.019997
           DB       23.904364    24.150000    24.400000    24.139999
           FB      104.660004   104.660004   106.169998   104.620003

                         Open      Volume
Date       minor
2017-12-29 AMZN   1182.349976   2688400.0
           CAT     158.050003   2616100.0
           CVX     125.360001   3829000.0
           DB       19.070000   1548700.0
           FB      178.000000  10261500.0
2017-12-28 AMZN   1189.000000   1841700.0
           CAT     157.940002   4064000.0
           CVX     125.690002   2191800.0
           DB       19.139999   1704900.0
           FB      177.949997  12220800.0
2017-12-27 AMZN   1179.910034   1867200.0
           CAT     156.940002   2520500.0
           CVX     125.959999   3452300.0
           DB       19.260000   2429000.0
           FB      176.550003   9496100.0
2017-12-26 AMZN   1168.359985   2005200.0
           CAT     156.039993   1870600.0
           CVX     125.230003   3348500.0
           DB       19.370001   1618600.0
           FB      176.630005   8897300.0
2017-12-22 AMZN   1172.079956   1585100.0
           CAT     154.770004   2486400.0
           CVX     124.849998   4735100.0
           DB       19.450001   2434100.0
           FB      177.139999   8509500.0
2017-12-21 AMZN   1175.900024   2123100.0
           CAT     152.690002   4017400.0
           CVX     121.389999  10109000.0
           DB       19.540001   4692700.0
           FB      177.940002  11600700.0
...                       ...         ...
2016-01-08 AMZN    619.659973   5512900.0
           CAT      64.330002   8278500.0
           CVX      83.389999  11891600.0
           DB       22.820000   2341500.0
           FB       99.879997  35402300.0
2016-01-07 AMZN    621.799988   7074900.0
           CAT      65.080002   8601500.0
           CVX      84.550003  15368800.0
           DB       22.750000   2470100.0
           FB      100.500000  45172900.0
2016-01-06 AMZN    622.000000   5329200.0
           CAT      65.980003   6639300.0
           CVX      87.440002  14511400.0
           DB       23.120001   1393300.0
           FB      101.129997  25096200.0
2016-01-05 AMZN    646.859985   5822600.0
           CAT      68.379997   6139100.0
           CVX      89.050003   7883400.0
           DB       23.610001   1264700.0
           FB      102.889999  23258200.0
2016-01-04 AMZN    656.289978   9314500.0
           CAT      66.879997   8586900.0
           CVX      89.529999  11397300.0
           DB       23.170000   2753900.0
           FB      101.949997  37912400.0
2015-12-31 AMZN    686.080017   3749600.0
           CAT      68.449997   4356400.0
           CVX      89.379997   6988700.0
           DB       24.340000   1103700.0
           FB      106.000000  18391100.0

[2520 rows x 6 columns]

In [24]:
p.major_xs('2016-10-14')

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2016-10-14 00:00:00 to 2016-10-14 00:00:00
Minor_axis axis: AMZN to FB

In [25]:
p.minor_xs('FB').tail()

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2016-01-07,97.919998,97.919998,101.430000,97.300003,100.500000,45172900.0
2016-01-06,102.970001,102.970001,103.769997,100.900002,101.129997,25096200.0
2016-01-05,102.730003,102.730003,103.709999,101.669998,102.889999,23258200.0
2016-01-04,102.220001,102.220001,102.239998,99.750000,101.949997,37912400.0
2015-12-31,104.660004,104.660004,106.169998,104.620003,106.000000,18391100.0

In [26]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 504 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2017-12-29 00:00:00 to 2015-12-31 00:00:00
Minor_axis axis: AMZN to FB

In [32]:
p2.axes

[Index(['AMZN', 'CAT', 'CVX', 'DB', 'FB'], dtype='object'),
 DatetimeIndex(['2017-12-29', '2017-12-28', '2017-12-27', '2017-12-26',
                '2017-12-22', '2017-12-21', '2017-12-20', '2017-12-19',
                '2017-12-18', '2017-12-15',
                ...
                '2016-01-14', '2016-01-13', '2016-01-12', '2016-01-11',
                '2016-01-08', '2016-01-07', '2016-01-06', '2016-01-05',
                '2016-01-04', '2015-12-31'],
               dtype='datetime64[ns]', name='Date', length=504, freq=None),
 Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')]